@import "./styles/reset.scss";

.header{
    width: 80%;
    margin-left: 20px;
    margin-right:20px;
    display: flex;
    justify-content: space-between;
}

.bar-chart {
    float: left;
}

.bar-chart-axis {
    margin-left: 700px;
}

.body-content {
    width: 800px;
}

h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}