@import "./styles/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.header{
    // width: 80%;
    // margin-left: 20px;
    // margin-right:20px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // background-color: #222831;
    background-color: #a8a7a7;
    color: #222831;
    font-family: sans-serif;

}
.header-title{
    margin-left: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-family: Teko;
    font-size: 30px;

}
.header-data-source{
    padding: 5px;
    font-size: 20px;
}
.header-data-source > a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.header-links{
    margin-right: 20px;
    padding: 5px;
}

.header-links > a{
    margin: 5px;

}

.bar-chart {
    float: left;
}
.bar-chart{
    margin-left: 40px;
}
.bar-chart-axis {
    margin-left: 850px;
}

.body-content {
    width: 1000px;
}
.x-content, .y-content { 
    font-family: sans-serif;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;

    // border: 1px solid black;

    
}
.x-content:hover:not(.active){
    background-color: gainsboro
}

.y-content:hover:not(.active){
    background-color: gainsboro
}

// .y-content{
//     font-family: sans-serif;
//     margin-top: 10px;
   
// }
.active{
    border-radius: 3px;
    background-color: gray;
    color: #fff
}
h2 {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
}

#header-button{
    cursor: pointer;
}

.bar{
    // fill: #71EEB8;
    fill: steelblue
}

.bar:hover {
  fill: slateblue;
}
.axis text{
    font-weight: bold;
}

